body {
  margin: 0;
  background-color: #1f2937;
  font-family: "Karla", sans-serif;
  padding: 115px 52px;
}

h1 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: #ffffff;
  margin: 0px;
}

.title-2nd-part {
  color: #4adf86;
}

p {
  font-family: "Karla", sans-serif;
  color: #d5d4d8;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 0px;
}

button {
  width: 191px;
  height: 42px;
  left: 52px;
  top: 284px;
  background: #10b981;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

input {
  width: 50px;
}

.border {
  border: 1px solid #2f3e53;
  margin-top: 35px;
}

.generated-passwords {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}

.password {
  width: 211px;
  height: 39px;
  background-color: #273549;
  border-radius: 6px;
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #55f991;
  cursor: pointer;
}

.inputs {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  color: #ffffff;
  font-size: 12px;
}

#options-form {
  margin-top: 30px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #10b981;
}

input:focus + .slider {
  box-shadow: 0 0 1px #10b981;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
